.article {
  width: 800px;
  text-align: justify;
  margin-left: 20em;
  padding-top: 2em;
}

.straightLine {
  z-index: 0;
  border: 1px solid rgba(252, 252, 252, 0.377);
  margin-left: 8em;
}

.generalContainer {
  z-index: 0;
  display: flex;
  flex-direction: row;
}

.content {
  padding-top: 91px;
}

.resultStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homePageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  text-align: justify;
}

.linkStyle {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
}

.header > h1 {
  font-size: 2.5em;
}
