.resultComponent {
  color: white;
  border: 1px solid lightslategray;
  width: 66.67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;

  &-1 {
    background-color: lightgray;
    @extend .resultComponent;
  }

  &-2 {
    background-color: red;
    @extend .resultComponent;
  }

  &-3 {
    background-color: orange;
    @extend .resultComponent;
  }
  &-4 {
    background-color: rgb(47, 173, 47);
    @extend .resultComponent;
  }
}
