.navbar {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  text-transform: none;
  color: black;
  gap: 1em;
  background-color: rgb(255, 255, 255, 85%);
  border-bottom: 5px dotted lightgray;
  justify-content: space-around;
  padding: 0.5em;
  align-items: center;
}
